.review{
    &__row{
        padding-top: 64px;
    }
    &__title{
        @include font($font-poppins, 600, 18px, 1.5);
        color: $black;
    }
    &__item{
        max-width: 370px;
        max-height: 200px;
        border-radius: 12px;
        padding: 24px 36px 40px 36px;
        position: relative;
        text-align: center;
        box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .2);
    }
    &__description{
        @include font($font-poppins, 500, 15px, 22px);
        color: $black;
    }
    &__author{
        @include font($font-poppins, 600, 12px, 1);
        color: $darkgray;
        margin: 24px 0 16px;
    }
    &__img{
        img{
            height: 48px;
            width: 48px;
            position: absolute;
            bottom: -25%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .slider{
        display: flex;
        flex-wrap: nowrap;
        margin: 40px 0 60px;
        @include center();
    }
}