.review{
   
    &__row{
        padding-top: 64px;
        position: relative;
        z-index: 10;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            height: 100%;
            width: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.8);
        }
        &::after {
            content: "";
            position: absolute;
            right:0%;
            top: 0;
            z-index: 3;
            height: 100%;
            width: 20px;
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.8);
        }
    }
    &__title{
        @include font(600, 18px, 1.5);
        color: $black;
    }
    &__item{
        max-width: 370px;
        height: 200px;
        border-radius: 12px;
        padding: 24px 36px 40px 36px;
        position: relative;
        text-align: center;
        box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .2);
    }
    &__description{
        @include font(500, 15px, 22px);
        color: $black;
    }
    &__author{
        @include font(600, 12px, 1);
        color: $darkgray;
        margin: 24px 0 16px;
    }
    &__img{
        img{
            height: 48px;
            width: 48px;
            position: absolute;
            bottom: -25%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            object-fit: cover;
        }
    }
}
.slider{
    display: flex;
            flex-wrap: nowrap;
            margin: 40px 0 60px;
            @include center();
            min-width: 0;
}
.swiper-container {
    padding: 25px 0;
}

    .swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		z-index: 10;
		background: #151515 none;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
		border-radius: 12px;
        outline: none;
      
		&::after {
            color:$white;
            font-size: 12px;
		}
	}
	.swiper-button-prev {
		left: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.swiper-button-next {
		right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
    }
    .swiper-pagination{
        bottom: -50px;
        overflow: visible;
    }
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        line-height: 20px;
        font-size: 15px;
        background-color: $black;
        // position: absolute;
        // bottom: 0;
    }