.hero {
  &__row {
    padding-top: 65px;
  }
  &__wrapper {
    margin: 0 -15px;
  }
  &__item--right {
    position: relative;
    background-color: $gray-f9;
    margin: 0 15px;
    border-radius: 12px;
  }
  &__opacity {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    background-color: rgba($color: $black, $alpha: 0.6);
    border-radius: 12px;
    // backdrop-filter: blur(5px);
  }
  &__text {
    position: absolute;
    left: 33px;
    top: 48px;
    z-index: 4;
  }
  &__suptitle {
    @include font($font-poppins, 600, 12px, 1.2);
    color: $green;
    margin-bottom: 18px;
  }
  &__title {
    @include font($font-poppins, 600, 22px, 1.5);
    color: $white;
    margin-bottom: 85px;
  }
  &__img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 12px;
  }
}
