.header {
  &__top {
    display: flex;
    justify-content: space-between;
    border-top: transparent;
    border-left: transparent;
    border-left: transparent;
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.05);
    padding: 16px 0;
  }
  &__list {
    display: flex;
    .list__item {
      margin-right: 33px;
    }
    .list__link {
      @include font($font-open, 400, 12px, 1.5);
    }
  }
  &__nav {
    .nav__menu {
      display: flex;
    }
    .nav__item {
      margin-left: 38px;
    }
    .nav__link {
      @include font($font-open, 400, 12px, 1.5);
      cursor: pointer;
    }
  }
  &__middle {
    padding: 40px 0 48px;
  }
  &__logo {
    svg {
      fill: $black;
    }
  }
  &__middle {
    @include center(flex, space-between, center);
  }
  .searchbar {
    padding: 10px 16px;
    background-color: $gray-f9;
    max-height: 42px;
    border-radius: 12px;
    display: flex;
    align-items: center;
      &__title{
        @include font($font-poppins, 600, 16px, 1.2);
        position: relative;
        cursor: pointer;
        svg{
          stroke: $black;
          position: absolute;
          right: -25px;
          top:50%;
          transform: translateY(-50%);
        }
      }
      &__input {
        @include font($font-open, 600, 14px, 1.5);
        color: #a9a9a9;
        border: none;
        border-left: 1px solid #d1d1d1;
        padding-left: 25px;
        margin-left: 48px;
        min-width:270px;
        background-color: transparent;
        &:focus {
          outline: none;
        }
      }
      &__list{
        max-height: 24px;


        &.is-active{
          li{
            display: block;
          }
        }
      }
      &__item{
        display: none;
        @include font($font-poppins, 600, 14px, 1.2);
        padding:0;
        margin-top: 20px;
        background-color: red;
        cursor: pointer;



        
      }
      &__button{
        background-color: transparent;
        padding: 0;
        outline: none;
        border:none;
        height: 16px;
        width: 16px;
        @include center();
        cursor: pointer;

      }
      
      
      
    }
  
  &__systems {
    display: flex;
  }
  &__counter {
    margin-left: 45px;
    position: relative;
    .counter {
      position: absolute;
      top: 50%;
      left: -50%;
      transform: translateX(50%);
      padding: 1px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: red;
      color: $white;
      @include center();
      @include font($font-poppins, 400, 12px, 1);
    }
  }
  &__bottom {
    padding: 16px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $gray-f9;
      width: 1260px;
      height: 55px;
      z-index: -1;
      margin: 0 -45px;
    }
    .nav {
      &__menu {
        display: flex;
      }
      &__item {
        margin-right: 54px;
      }
      &__link {
        @include font($font-poppins, 500, 15px, 1.5);
        color: $black;
        position: relative;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          right: -15px;
          top: 30%;
          width: 4px;
          height: 4px;
          border: 2px solid #6a983c;
          border-top: transparent;
          border-right: transparent;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
