.header {
  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.05);
    padding: 16px 0;
    .nav {
      &__menu {
        display: flex;
      }
      &__item {
        margin-left: 38px;
      }
      &__link {
        @include font(400, 12px, 1.5,$font-open);
        cursor: pointer;
        transition: 0.3s;
        &:hover{
          color: $green;
        }
      }
    }
    .list {
      display: flex;
      &__item {
        margin-right: 33px;
      }
      &__link {
        @include font(400, 12px, 1.5,$font-open);
      }
    }
  }
  &__middle {
    padding: 40px 0 48px;
    @include center(space-between);
    .searchbar {
      padding: 10px 16px;
      background-color: $gray-f9;
      max-height: 42px;
      border-radius: 12px;
      @include center();
      position: relative;
      &__title {
        @include font(600, 16px, 1.2);
        position: relative;
        cursor: pointer;
        svg {
          stroke: $black;
          position: absolute;
          right: -25px;
          top: 50%;
          transform: translateY(-50%);
        }
        
      }
      &__list {
        width: 35%;
        position: absolute;
        left: 0;
        top: 35px;
        background-color:$gray-f9;
        z-index: 2;
        border-radius: 12px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &.is-active {
          li {
            display: block;
            animation: rotateMenu 500ms ease-in-out forwards;
            transform-origin: top center;
            transition: 0.4s;
            @keyframes rotateMenu {
              0% {
                transform: rotateX(-90deg)
              }
              70% {
                transform: rotateX(20deg)
              }
              100% {
                transform: rotateX(0deg)
              }
            }
          }
        }
      }
      &__item {
      display: none;
      padding: 5px 15px;
      cursor: pointer;
      transition: 0.3s;
      a{
        @include font(600, 14px, 1.2);
        color: $black;
      }
      &:last-child{
        border-bottom-left-radius:12px;
        border-bottom-right-radius:12px;
      }
      &:hover{
        background-color: $green;
        a{
          color: $white;
        }
      }
      }
      &__button {
      background-color: transparent;
      padding: 0;
      outline: none;
      border: none;
      height: 16px;
      width: 16px;
      @include center();
      cursor: pointer;
      }
      &__input {
      @include font($font-open, 600, 14px, 1.5);
      color: #a9a9a9;
      border: none;
      border-left: 1px solid #d1d1d1;
      padding-left: 25px;
      margin-left: 48px;
      min-width: 270px;
      background-color: transparent;
      &:focus {
        outline: none;
      }
      }
    }
  }
  &__logo {
    cursor: pointer;
    svg {
      fill: $black;
    }
  }
  &__systems {
    display: flex;
  }
  &__counter {
    margin-left: 45px;
    position: relative;
    .counter {
      position: absolute;
      top: 50%;
      left: -50%;
      transform: translateX(50%);
      padding: 1px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: red;
      color: $white;
      @include center();
      @include font(400, 12px, 1);
    }
  }
  &__bottom {
    padding: 16px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $gray-f9;
      width: 1260px;
      height: 55px;
      z-index: -1;
      margin: 0 -45px;
    }
    .menu {
      display: flex;
      &__title {
        @include font(500, 15px, 1);
        color: $black;
        cursor: pointer;
        position: relative;
        margin-right: 54px;
        transition: 0.3s;
        &:last-child {
          margin-right: 0;
        }
        svg {
          fill:none;
          stroke: $black;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -18px;
          transition: 0.3s;
        }
        &:hover {
          color: $green;
          svg {
            stroke: $green;
          }
        }
        &.is-active {
          svg{
            transform: rotate(90deg) translateX(-50%);
          }
        }
       
      }
      &__link {
        @include font(500, 12px, 1.5);
        color: $black;
        display: none;
        width: 100%;
      }
    
      &__list {
        display: none;
        position: absolute;
        top: 30px;
        z-index: 2;
        background-color: red;
        border-bottom-left-radius:12px;
        border-bottom-right-radius:12px;
        min-width: 120px;
        padding: 0 10px;
        &.is-active {
          display: block;
        }
      }
    }
  }
}
