.headline{
    &__title{
        @include font($font-poppins, 600, 18px, 1.5);
        color: $black;
    }
    &__top{
        padding-top: 70px;
    }
    &__row{
        margin: 40px -15px 70px -15px;
    }
}