body{
    margin: 0;
    padding: 0;
    font-size: $font-poppins;
}
a, span {
    display: inline-block;
}
a {
    text-decoration: none;
}
ul li {
     list-style-type: none;
}
.container{
    box-sizing: border-box;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 45px;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
.btn{
    padding: 16px 20px;
    border-radius: 12px;
    background-color: $gray-f9;
    border:none;
    span{
        @include font($font-poppins, 700, 15px,1);
        color: $black;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: -10px;
            top: 30%;
            transform: translateX(-30%);
            width: 4px;
            height: 4px;
            border: 2px solid $black;
            border-left: transparent;
            border-top: transparent;
            transform: rotate(-45deg);

        }
    }
}