body{
    margin: 0;
    padding: 0;
    font-size: $font-poppins;
}
a, span {
    display: inline-block;
}
a {
    text-decoration: none;
}
ul li {
     list-style-type: none;
}
.container{
    box-sizing: border-box;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 45px;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.btn{
    padding: 12px 30px 12px 15px;
    border-radius: 12px;
    background-color: $gray-f9;
    border:none;
    position: relative;
    @include font($font-poppins, 700, 15px, 1.5);
    color: $black;
    svg{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        fill: none;
        stroke: $black;
        margin-left: 15px;
    }
    &:hover{
        outline: none;
    }
    &::focus{
        outline: none;
    }
}
.btn--green{
    border: 2px solid green;
    background-color: transparent;
    svg{
        stroke: $green;
    }
 
    
}