$black: #151515;
$white: white;
$gray-f9: #f9f9f9;
$darkgray:#575757;
$lightgray:#D1D1D1;
$gray:#A9A9A9;
$green: #6a983c;

$font-open: "Open Sans", sans-serif;
$font-poppins: "Poppins", sans-serif;


