.farmers{
    $self:&;
    &__row{
        padding-top: 65px;
    }
    &__item--left{
        #{$self}__menu-title{
            @include font($font-poppins, 600, 18px, 1.5);
            color: $black;
            margin-bottom: 20px;
        }
    }
    &__menu{  
        .menu{
            &__link{
                @include font($font-open, 400, 14px, 1.3);
                color:$green;
                margin-bottom: 15px;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    &__button--category{
        margin-top: 20px;
    }
    .margin{
        margin: 0 -15px;
    }
    &__item--right{
        min-width: 270px;
        min-height: 324px;
        margin: 0 15px;
        border: 1px solid $lightgray;
        border-radius: 12px;
    }
    &__wrapper{
        padding: 16px;
    }
    &__img{
        min-width: 237px;
        min-height: 180px;
        background-color: $gray-f9;
    }
    &__name{
        @include font($font-poppins, 500, 15px, 1);
        color: $black;
        margin: 20px 0 8px 0;
    }
    &__description{
        @include font($font-open, 400, 12px ,1);
        color: $darkgray;
        margin-bottom: 16px;
    }
    &__price{
        @include font($font-poppins, 600, 18px, 1.5);
        color: $black;
    }
}